.topnav {
  background-color:antiquewhite;
  overflow: hidden;
  }
.topnav a {
float: left;
color: crimson;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: black;
color: white;
}

.topnav-right {
float: right;
}
body {
      background-image: url("background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
h1 {
      padding-top: 30px;
      color: crimson;
      margin-left: 40px;
    }
p{
      margin-left: 150px;
    }
form{
      margin-left: 150px;
    }
